<div class="vpad--xxl bg--pattern text--center text--white">
  {% if page.id == "overview" %}
    <div class="serif-title serif-title--lg">Get exploring</div>
    <div class="space--sm"></div>
    <a href="{{site.baseurl}}/explore" class="btn btn--lg btn--white">Start Now</a>
  {% else %}
    <div class="serif-title">Continue Exploring</div>
    <div>
      <p class="text--xl text--normal width width--lg">Discover more of the incredible variety that Greece has to offer with our other guides, and selection of things you absolutely can't miss!</p>
    </div>
    <div class="space--sm"></div>
    <a href="{{site.baseurl}}/explore" class="btn btn--lg btn--white">Keep exploring</a>
  {% endif %}
</div>