<!-- STORY FORM MODAL -->
<div class="js-modal modal is-closed" id="modal-story-form">
  <div class="modal__wrap row row--xxthin row--padding">
    <div class="modal__content">
      <div class="modal__item modal__item__content modal__item-column row--padding row--padding-vertical">

        <div class="js-close-modal modal__close"></div>

        <h2 class="title title--smallest title--serif">We want to hear all about your Greek experiences!</h2>
        <p>With so many islands to explore and a vast mainland full of little-known wonders, we understand that you probably have loads of great tips that you think other people need to know about. We believe it’s the little-known secrets – the cosy locals haunts, secret lookout points and quirky gift shops that can make you truly feel like you’ve experienced a destination. So we want to hear it from you!</p>
        <hr />

        <iframe src="https://promotion3634.strutta.me" width="100%" height="700"> </iframe>

      </div>
    </div>
  </div>
</div>