

<div class="js-modal modal modal--vertical-align is-closed" id="modal-stories">
  <div class="modal__wrap row--xxthin row--padding">
    <div class="modal__content" id="modal__slider">

      {% for story in stories %}

        {% capture storytitle %}story-{{forloop.index}}{% if story.location %}-{{story.location | slugify}}{% endif %}{% endcapture %}

        <div class="slide modal__item modal__item-inactive bg--black align-center" id="modal__item-{{ storytitle }}">

          <div class="js-close-modal modal__close"></div>

          {% if story.image %}<div class="bg-image bg-image--ratio-16-9" style="background-image: url('{{ site.baseurl }}/img/content/stories/{{ story.image }}.jpg');"></div>{% endif %}

            <div class="modal__item__content invert-text{% unless story.image %} modal__item__content--padding{% endunless %}">

              {% if story.location %}<p class="card__location">{{ story.location }}</p>{% endif %}

              <p class="p--lead">{{ story.content }}</p>

              {% if story.name %}
                <p class="story__name p--small title--upper title--expanded title--lined">Submitted by <span class="title--bolder">{{ story.name }}</span></p>
              {% endif %}

            </div>

        </div>

      {% endfor %}

      <!-- MODAL SLIDER NAVIGATION -->
      <div class="modal__slider-nav">
        <a class="modal__slider-previous" id="modal_slider--previous" href="javascript:void(0);">
          <img class="js-svg-swap" width="20" src="{{ site.baseurl }}/img/icons/arrow-left-white.png" alt="<">
        </a>
        <a class="modal__slider-next" id="modal_slider--next" href="javascript:void(0);">
          <img class="js-svg-swap" width="20" src="{{ site.baseurl }}/img/icons/arrow-right-white.png" alt=">">
        </a>
      </div>

    </div>
  </div>
</div>