
{% capture storytitle %}story-{{forloop.index}}{% if story.title %}-{{story.title | slugify}}{% endif %}{% endcapture %}

<a
  href="javascript:void(0);"
  id="{{ storytitle }}"
  class="story row__column card js-open-modal"
  data-modal="stories"
  data-modal-item="{{ storytitle }}">

  <div class="card__image bg-image bg-image--ratio bg-image--ratio-1-1 bg--dark-grey invert-text">

    <div class="bg-image__content">

      {% if story.title %}<span class="title title--tiny title--upper title--expanded">{{ story.title }}</span>{% endif %}
      {% if story.location %}<p class="card__location">{{ story.location }}</p>{% endif %}

      {% if story.title %}
        <p class="title title--micro title--serif">{{ story.content | truncate:100 }}</p>
      {% else %}
        <p class="title title--smallest title--serif">{{ story.content | truncate:100 }}</p>
      {% endif %}

    </div>

  </div>

</a>