<section class="guide-section guide-section--large section--padding-large {% cycle '', 'bg--light-grey' %}" id="section-{{ section.class }}">

  <div class="row row--padding">
    <div class="bob">

      <div class="bob__image bg-image bg-image--border-radius bg-image--ratio bg-image--ratio-4-3" style="background-image:url('{{ site.baseurl }}/img/content/{{ page.class }}/{{ section.class }}.jpg');"></div>

      <div class="bob__text">
        <h2 class="title title--medium title--upper title--expanded">{{ section.title }}</h2>
        {% if section.subtitle %}
          <span class="title title--micro title--upper title--expanded title--serif title--lined">{{ section.subtitle }}</span>
        {% endif %}
        {{ section.content }}
      </div>

    </div>
  </div>



  {% if section-highlights.size > 0 %}
  <div class="row row--padding row--columns-3-3-3-3-gutters" id="#hl-{{ section.class }}">

    {% for highlight in section-highlights %}

      {% if forloop.first %}<div class="row">{% endif %}

      {% include highlights/normal.html %}

      {% if forloop.index == 4 %}
        </div><div class="accordion" id="{{ section.class }}-hl-accordion">
      {% elsif forloop.last %}
        </div>
      {% endif %}

    {% endfor %}

    {% if section-highlights.size > 4 %}
    <div class="row row--padding align-center">
      <a href="#hl-{{ section.class }}" data-target="{{ section.class }}-hl-accordion" class="accordion__trigger btn btn--solid" data-label="View {{ section.title }} highlights" data-alt-label="Hide highlights">View {{ section.title }} highlights</a>
    </div>
    {% endif %}

  </div>
  {% endif %}

</section>