
/* ===============================================
 *     CUSTOM STYLES FOR THE SITE
 * =============================================== */

body { background-color: $white; }

// -- Section styles --

.invert-text {
  color: $white;
  &.title, & .title { color: $white; }
  hr,.hr { background-color: rgba($white,0.4);}
}
.bg {
  &--white      { background-color: $white; }
  &--black      { background-color: $black; }
  &--light-grey { background-color: $light-grey; }
  &--grey { background-color: $grey; }
  &--dark-grey  { background-color: $dark-grey; }
  &--text-black     { background-color: $text-black; }
  &--text-heading   { background-color: $text-heading; }
  &--text-paragraph { background-color: $text-paragraph; }
  &--se-orange     { background-color: $se-orange; }
  &--se-light-grey { background-color: $se-light-grey; }
  &--se-dark-grey  { background-color: $se-dark-grey; }
  &--partner-primary   { background-color: $partner-primary; }
  &--partner-secondary { background-color: $partner-secondary; }

  &--image { @include background-attributes(); }
  &--image-fixed { background-size: cover; background-attachment: fixed; background-repeat: no-repeat; }

  &--pattern { background-image: url('../img/bg/bg-pattern.png'); background-position: center; }
  &--pattern-white { background-image: url('../img/bg/bg-pattern--white.png'); background-position: center; }
}

// -- Page intro sections --
.intro {
  position: relative;
  overflow: hidden;

  &__content {}
  &.has-nav &__content {
    margin-bottom: 50px;
    background-color: $partner-secondary;
    color: $white;
  }

  &__nav {
    background-color: rgba($partner-secondary,0.8);
    color: #fff;
    position: absolute;
    bottom: 0; left: 0; width: 100%;
    .list--horizontal {
      height: 50px;
    }

    &.stuck {
      position: fixed; top: 0; bottom: auto;
      z-index: $z-nav-upper;
      box-shadow: 0 0 5px 0 rgba($black, 0.2);
    }
  }

}

/* ===============================================
 *     JAVASCRIPT SECTIONS
 * =============================================== */

// -- Highlight slider :: show/hide extra highlights ---

.highlights {
  overflow: hidden;
  position: relative;
  &--hide {
    margin-bottom: -20px;
    height: 220px;
    padding: 1px; // so the borders don't get clipped
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0; left: 0; right: 0;
      height: 60px;
      background-image: url('../img/icons/highlights-fade.png');
      background-position: bottom;
      background-repeat: repeat-x;
    }
    .bg--light-grey &:after { background-image: url('../img/icons/highlights-fade-light-grey.png'); }
    .bg--grey &:after { background-image: url('../img/icons/highlights-fade-grey.png'); }
  }
  &__btn { position: relative; z-index: 10; }
}

// ---------- folding sections ----------

.fold {
  &-container { position: relative; padding: 2px 0; }
  &__btn {
    position: absolute;
    z-index: 10;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
}


/* ===============================================
 *     EXPLORE PAGE
 * =============================================== */

.guides {
  &-row {
    margin-bottom: -$margin;
  }

  &__item {
    &-content {
      padding: 2em;
      margin-top: 0 !important;
    }
  }

  &__item {
    overflow: hidden;
    margin-bottom: $margin;
    @include bp(xxlarge){
      @include gallery($gutters 4);
    }
  }

  &__item--large {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: $margin;
    @include bp(large){
      .flexbox & {
        display: flex;
        align-items: center;
      }
    }
  }
}


/* ===============================================
 *     GUIDE PAGE
 * =============================================== */

.guide-section {
  position: relative;

  &--large {}
  &--medium {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.js-bg-fade {
  position: relative;
  & * { z-index: 1; }
  &__overlay {
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    background-color: rgba($dark-grey,0.7);
    opacity: 1;
    z-index: 0;
  }
}


/* ===============================================
 *     MEMBER PAGE
 * =============================================== */

.members {
  &__image {
    margin-bottom: 2em;
  }
  margin-bottom: -2em;
}

