---

layout: basic
title: MAMMA MIA!
class: mamma-mia
nav-order: 5

banner-title: MAMMA MIA!
banner-subtitle: The Smash Hit Musical



story-intro: >
  <p class="p--lead">Let MAMMA MIA! fire your Greece wanderlust with its irresistible and uplifting tale of love and romance set on a Greek island paradise. Discover what happened when Secret Escapes went to see the show and get an exclusive glimpse at what goes on behind the scenes at this celebrated West End musical... </p>
story: >
  <p>Since opening in London in 1999, MAMMA MIA! has taken the world by storm with it's irresistibly upbeat tale of love and romance. A truly original musical, MAMMA MIA! uses the infectious pop hooks of ABBA to weave a Greek island love story together with a jubilant energy that will have you up and dancing long before the curtain draws. </p>
  <p>A daughter’s quest to find her true father on the eve of her wedding unravels as three men from her mother’s past visit for the first time in 20 years. Meet the cast and discover more behind-the-scenes action below... </p>
bts-intro: >
  <p>We were given an exclusive peek at the inner runnings down at the Novello Theatre. With a warm invite at Stage Door, we descended into the depths of the theatre, dodging techies and chorus members floating around the narrow backstage corridors. Once in the wings, an array of technicolour costumes and perfectly laid-out props merged into a picture of electric pre-performance rituals. Loud booms echoed from the stage, as a sound tech tuned each element for the evening’s show. Nothing quite compares to the excited energy of backstage – the hum of the spotlights, echoing vocal warm-ups from hidden-away dressing rooms… The stage was being set, so we perched in a corner of the wings ready to meet cast and production and to discover the behind-the-scenes world of MAMMA MIA!...</p>



details:

  - title: The Music
    class: music
    intro: >
      <p class="p--lead">The music of MAMMA MIA! is one of the most iconic parts of the show. We caught up with cast members and the production team to really get to grips with why the music plays such a central and captivating role...</p>

    images:
      - img: music-01.jpg
      - img: music-02.jpg
      - img: music-03.jpg
      - img: music-04.jpg

    questions:

      - question: What makes ABBA's repertoire so adaptable to the stage?
        answer: Each of the songs stand alone, they are individuals. Each has a little quirky and interesting thing that sets them apart from your average formulaic pop song. The way the songs work in the context of the show is unique in terms of jukebox musicals too, and most definitely the best example of how that could work.
        by: Marcus Savage, Musical Director

      - question: What is it about ABBA that is so timeless?
        answer: One thing I discovered working on the score is that all the songs are quite a lot slower than you first think. If I were to play <span class="p--italic">Dancing Queen</span> for example, I would in the past have played it far too fast. It's a testament to their construction and the groove Benny and Björn created that they evoke such dynamism and excitement to fool someone into the perception of a higher tempo.
        by: Marcus Savage, Musical Director

      - question: Has your impression of the songs changed at all?
        answer: I can't listen to ABBA's music in the same way – they've taken on new meanings for me, yet I can't help but enjoy them still. They're timeless, they're classics, they do mean something else to me now.
        by: Steven Paling, Resident Director

      - question: How do the songs work in a musical theatre setting?
        answer: You dont have to crowbar those songs in, the storytelling in those songs moves along seamlessly. People ask me are you sick of hearing ABBA, and I say no - when I hear ABBA I hear a pop song, but on stage, they're a dramatic story. They feel very different. To interpret them as an actor is a joy. Unlike other jukebox musicals, you don't have to find meaning in songs that isn't necessarily there because they're pop songs – ABBA songs are lyrically and melodically really beautiful.
        by: Sara Poyzer, Donna Sheridan

      - answer: Sometimes it's more difficult to use pop songs as opposed to musical songs – I try to be faithful to the original, they are worth respecting after all, and sometimes the actors like to stretch words or sing sections differently to make them fit. To tread the line between the two is the challenge, to offer a balance of both. That is the difference between this repertoire and other  musical theatre songs.
        by: Marcus Savage, Musical Director


  - title: The Stage
    class: stage
    intro: >
      <p class="p--lead">Once the curtains open and the lights skip across the stage, something quite magical begins. We found out what went on in the wings, what it took to keep such a hit show ticking, and what it feels like to perform this famed story of love, identity and romance...</p>

    images:
      - img: stage-01.jpg
      - img: stage-02.jpg
      - img: stage-03.jpg
      - img: stage-04.jpg
      - img: stage-05.jpg
      - img: stage-06.jpg

    questions:

      - question: What does the West End mean to MAMMA MIA!?
        answer: The West End has a great reputation. It’s the birthplace of a lot of theatre, a lot of new stuff is tried out here, and when people visit London, this a top thing to do. MAMMA MIA! has a heart to it, which really makes it stand out in the West End. As an example, <span class="p--italic">Slipping Through My Fingers</span> for me was just a nice song before, but in the show it takes on a poignancy that really hits home. On the other hand, youthfulness and playfulness is also captured well. This, coupled with great audiences, makes MAMMA MIA! a really upbeat experience!
        by: Robert Knight, Dance Captain

      - question: Which bits get the best response in your mind?
        answer: The dynamos coming on in these amazing white outfits, there’s a phenomenal and raucous response! Every night everyone leaves the theatre saying 'this is brilliant!' The Super Troupers steal the show every time though. The Super Trouper zips had to be replaced with heavy duty zips – they were quickly known to split from top to bottom, revealing the whole back of the poor actor, who would then be unable to twist or twirl for fear of exposing their backside to the audience! These were, needless to say, quickly replaced with extra heavy duty zips!
        by: Ruth McCorkindale, Head of Wardrobe

      - question: The costumes are fabulous. Which are the most intricate?
        answer: We have a few that are very intricate with loads of beading, onto mesh, which is then applied to jeans or flares and covered in thousands of strings of beads. Lots of delicate fabrics are used in the show which are danced in every day – it's a high maintenance show; a fun show, but high maintenance! Sophie's dress, for example, gets rebeaded every single day. It takes three to four hours every day!
        by: Ruth McCorkindale, Head of Wardrobe

      - question: What is the most challenging scene for you?
        answer: <span class="p--italic">Under Attack</span> is the most tricky. We can't see because of these goggles, which stop you seeing your peripheral vision. It's quite tight, and the blocking is very specific, so you turn around and realise, you're not in line anymore! <span class="p--italic">Voulez Vous</span> is hard work too, stamina wise it's intense with one dance after the other. But it's really good fun!
        by: Bobbie Little, Ali

      - question: What is the most physically challenging scene?
        answer: The most challenging, technical scene is <span class="p--italic">Voulez Vous</span>. It involves the entire company but everyone does something different so it has to be taught partner by partner by partner! Three covers for each part add to the workload when teaching this complex choreography.
        by: Robert knight, Dance Captain

      - question: Has anything ever gone horribly wrong?
        answer: I once bashed out my two front teeth on one of the beer bottles. Half of each tooth ended up in my mouth and I kept drinking them down! I had no idea how bad it was for the rest of the show but carried on regardless!
        by: Georgina Castle, Sophie

      - question: If you were Sophie, who of the three would you want as your dad?
        answer: Hard one! All of them have different traits or qualities you would want in a father figure. Combined they make the perfect man. For me, Bill really appeals to Sophie's sense of adventure, she likes to explore and discover. Harry loves his music and is thoughtful, whereas Sam is intelligent and my Mum’s guy!
        by: Georgina Castle, Sophie

      - answer: I’d want my dad to be Bill! He’s great fun and easy going, he’d be the best growing up!
        by: Christopher Jordan-Marshall, Sky





  - title: The Show
    class: show
    intro: >
      <p class="p--lead">MAMMA MIA! has been delighting audiences the world over for decades. What is it about this truly original musical that has hooked in crowds from Broadway to the West End and beyond?</p>

    images:
      - img: show-01.jpg
      - img: show-02.jpg
      - img: show-03.jpg
      - img: show-04.jpg

    questions:

      - question: How does Greece work as a setting for MAMMA MIA!?
        answer: Setting the show in Greece was genius, being in a feel-good show and hearing that music and wanting to make people smile – the first place for that is on holiday. We imagine this to be a tiny little island, somewhere that has hardly anything on it and having something special and magical about it just like those Greek islands have. It was only when I personally went to Greece that I realised there is a magic about it, a magic to these small, beautiful islands. Everyone knows each other, and this show encapsulates that. Everyone looks out for each other, and that drives the story in this show.
        by: Steven Paling, Resident Director

      - question: How does the story and the songs of ABBA come together in the show?
        answer: The way the songs have been woven into the script is nothing short of genius, and testament to the long run of the production. It's under-estimated in my mind, and the reason why 60 million people have seen the show – which is a mind-blowing figure!
        by: Kate Graham, Tanya

      - question: How does the show translate abroad?
        answer: In Southeast Asia they were very keen to find out who the father was! I was asked time and time again, who's the father! I kept repeating that it wasn't important, but eventually just had to lie and gave a different answer each time. MAMMA MIA! has been a hit globally, but it doesn't stop little quirks in the show’s reception. They said to us that in Korea, we should expect a quiet audience – it just wasn't the case, they were raucous as anywhere!
        by: Sara Poyzer, Donna

      - question: How adaptable were ABBA's songs to storytelling in a musical theatre setting?
        answer: ABBA's music was a musical already written. Ultimately, you realise as soon as you start listening that each song tells a story from beginning to end, making it a relatively easy process to work them into a musical. It was the first of it's kind to use 'found' music to such success. Each song has a narrative, which is the key to this show. Other shows have done it since, but you're trying to shoehorn music and meaning into a show and trying to make it make sense. But it works in MAMMA MIA!. These songs already tell a story and the book writes around it creating a beautifully crafted show. Nothing jars with you or doesn't make sense, everything has its place.
        by: Steven Paling, Resident Director




testimonials:

  - by: Holly Gilliland
    content: What an uplifting and enjoyable experience, I spent the rest of my evening high on life singing ABBA!

  - by: Sam Brooker
    content: I was expecting to enjoy it but I didn't think I'd be up dancing by the end. Getting the many different walks of life within an audience come together and smile from ear to ear like that is no mean feat! The cast were genuinely likeable and seemed to be having so much fun I wanted to get up there with them. Donna's voice will stay with me for quite some time, as will all the songs - most of which I didn't know I knew!

  - by: Alice Cox
    content: Living in London you often take the West End for granted. MAMMA MIA! Was the perfect musical to make you realise what talent we have on our doorstep. It was truly uplifting, naturally hilarious and an unforgettable evening. This show is great for anyone looking to escape the hustle and bustle and be transported to the sunny Greek isles.

  - by: Alex Robertson-Brown
    content: Stupidly good fun. More legendary pop hits than you can shake a stick at, and all perfectly performed. It did what all good live events do, stops you from thinking about your day to day and transport you to somewhere special. A really feel-good, positive show, I came out grinning like an idiot!

  - by: Hamish Gray
    content: I dare anybody who has doubts about musical theatre to take a chance on MAMMA MIA! and experience the irresistible grins and infectious laughter that the show inspires! And try as you might, you will not be getting those songs out of your head for at least two days after!



---



<!-- PAGE INTRO -->
<div class="intro mm-intro has-nav" id="section-story">

  <section class="intro__content invert-text intro--{{ page.class }}">

    <div class="row row--padding align-center">
      {{ page.story-intro }}
    </div>

    <div class="mm-intro__story row row--padding row--columns-5-7-gutters row--columns-vertical-align">
      <div class="row__column bg-image bg-image--ratio bg-image--ratio-3-2 bg-image--border-radius bg-image--shadow" style="background-image: url('{{site.baseurl}}/img/content/mamma-mia/intro.jpg');"></div>
      <div class="row__column">
        {{ page.story }}
      </div>
    </div>

    <div class="mm-intro__story row row--padding row--columns-7-5-gutters row--columns-vertical-align">
      <div class="row__column">
        {{ page.bts-intro }}
      </div>
      <div class="row__column bg-image bg-image--ratio bg-image--ratio-3-2 bg-image--border-radius bg-image--shadow" style="background-image: url('{{site.baseurl}}/img/content/mamma-mia/ollie.jpg');"></div>
    </div>

  </section>

  <section class="intro__nav section--padding-none align-center site-nav">
    <div class="row row--padding">
      <ul class="site-nav__list">
        <li class="site-nav__item"><a href="#section-story" class="site-nav__link">The Story</a></li>
        <li class="site-nav__item"><a href="#section-features" class="site-nav__link">Features</a></li>
        <li class="site-nav__item"><a href="#section-testimonials" class="site-nav__link">Our thoughts</a></li>
        <li class="site-nav__item"><a href="#section-tickets" class="site-nav__link">See the show</a></li>
      </ul>
    </div>
  </section>

</div>



<!-- DETAILS ACCORDION -->
<section class="section section--padding-none mm-slides invert-text" id="section-features">

  {% for detail in page.details %}
  <div class="section mm-slides-item" id="mm-slides-{{ detail.class }}" style="background-image: url({{site.baseurl}}/img/content/mamma-mia/bg-{{ detail.class }}.jpg);">

    <a href="#mm-slides-{{ detail.class }}" class="align-center mm-slides-item__trigger accordion__trigger" data-target="mm-slides-{{ detail.class }}__content">
      <h2 class="title title--medium title--upper title--expanded title--serif title--lined">{{ detail.title }}</h2>
    </a>



    <div class="accordion mm-slides-item__details row row--xthin row--padding" id="mm-slides-{{ detail.class }}__content">

      <div class="row">
        {{ detail.intro }}
        <hr>
      </div>

      <div class="row row--columns-7-5-gutters">

        <div class="row__column">

          {% for item in detail.questions %}

            {% unless forloop.first %}
            {% if item.question %}<hr>{% endif %}
            {% endunless %}

            {% if item.question %}
              <p class="p--bolder">{{ item.question }}</p>
            {% endif %}

            <p class="mm-slides-item__answer">
              <span class="p--small p--upper p--bolder p--expanded">{{ item.by }} </span>
              {{ item.answer }}
            </p>

          {% endfor %}

        </div>

        <div class="row__column">
          {% for image in detail.images %}
          <div class="mm-slides-item__image bg-image bg-image--ratio bg-image--ratio-3-2 bg-image--border-radius bg-image--shadow" style="background-image: url('{{site.baseurl}}/img/content/mamma-mia/{{image.img}}');"></div>
          {% endfor %}
        </div>

      </div>
    </div>



    <div class="mm-slides-item__overlay"></div>
  </div>
  {% endfor %}

</section>



<!-- OUR THOUGHTS/TESTIMONIALS -->
<section class="section bg--light-grey" id="section-testimonials">
  <div class="row row--padding align-center">
    <h2 class="title title--medium title--upper title--expanded">Thank you for the music</h2>
    <hr class="hr--center">
    <p class="p--lead">A few lucky people from the office here at Secret Escapes headed over to the Novello Theatre to see why MAMMA MIA! proves such a hit. Here's what they had to say...</p>
  </div>
  <div class="row row--xxthin row--padding">
    {% for testimonial in page.testimonials %}
      <div class="mm-testimonial">

        <p class="mm-testimonial__quote">
          {{ testimonial.content }}
        </p>

        <p class="title title--bold title--upper title--expanded p--small">– {{ testimonial.by }}</p>

      </div>
    {% endfor %}
  </div>
</section>



<!-- CALL TO ACTION/LINKS -->
<section class="section section--padding-none bg--partner-primary mm-splitbanner" id="section-tickets">
  <div class="row--columns-6-6">

    <a href="#" class="mm-splitbanner__half row__column bg-image bg-image--ratio bg-image--ratio-4-3" style="background-image: url({{ site.baseurl }}/img/content/mamma-mia/tickets.jpg);">
      <div class="bg-image__content invert-text">
        <h2 class="title title--medium title--upper title--expanded title--serif">Buy Tickets</h2>
        <p class="p--lead">Find your perfect seat for catching this global smash hit musical at the renowned Novello Theatre</p>
        <span class="btn btn--large btn--invert">Buy now</span>
      </div>
    </a>

    <a href="{{ site.baseurl }}/competition" class="mm-splitbanner__half row__column bg-image bg-image--ratio bg-image--ratio-4-3" style="background-image: url({{ site.baseurl }}/img/content/mamma-mia/competition.jpg);">
      <div class="bg-image__content invert-text">
        <h2 class="title title--medium title--upper title--expanded title--serif">Enter the competition</h2>
        <p class="p--lead">Discover your very own Greek island romance with the chance to win a Santorini getaway</p>
        <span class="btn btn--large btn--invert">Enter now</span>
      </div>
    </a>

  </div>
</section>