
<div class="guides__item--large row--columns-6-6 bg--white">

  <a href="{{site.baseurl}}{{ guide.url }}" class="row__column invert-text align-center bg-image bg-image--zoom bg-image--ratio bg-image--ratio-16-9 bg-image--large--ratio-4-3 bg-image--xxlarge--ratio-16-9" style="background-image: url('{{ site.baseurl }}/img/bg/banner-{{ guide.class }}.jpg');">
    <div class="bg-image__content">
      <span class="title title--bolder title--micro title--serif title--expanded title--upper">Our guide to</span>
      <h2 class="title title--smaller title--upper title--expanded title--margin-small">{{ guide.title }}</h2>
    </div>
  </a>

  <div class="row__column guides__item-content">
    <p>
      {% unless guide.layout == 'day-guide' %}<strong>See:</strong> {% for section in guide.sections | sort: 'hierarchy' %}{{ section.title }}{% unless forloop.last %}, {% endunless %}{% endfor %}
      <br />{% endunless %}
      <strong>Great for:</strong> {{ guide.best-for }}
    </p>
    <hr>
    <p>{{ guide.intro | truncate: 100 | strip_html }}</p>
    <a href="{{site.baseurl}}{{ guide.url }}" class="btn btn--subtle btn--small">Read now</a>
  </div>

</div>