---
layout: default
---
{% assign highlights = site.data.highlights | where:"guide",page.class %}





{% assign sections = page.sections | sort: 'hierarchy' %}
{% for section in sections %}
  {% if section.hierarchy == 1 %}
    {% include guides/sections/large.html %}
  {% elsif section.hierarchy == 2 %}
    {% include guides/sections/medium.html %}
  {% endif %}
{% endfor %}




<section class="bg--light-grey" id="offers">

  <div class="row row--padding align-center">
    <h3 class="title title--medium title--serif title--upper title--expanded title--color title--lined">Offers</h3>
  </div>

  <div class="row row--padding">
    {% assign offers = site.data.offers | where: 'category', page.class | sort: 'saved' | reverse %}
    {% for offer in offers %}
      {% include offers/normal.html %}
    {% endfor %}
  </div>

</section>






<section class="section--padding-large bg--partner-primary bg--pattern invert-text align-center">
  <div class="row row--padding">
    <h2 class="title title--medium title--upper title--expanded title--light title--serif">Continue exploring</h2>
    <p class="p--lead">Discover more of the incredible variety that Greece has to offer with our other guides, and selection of things you absolutely can't miss!</p>
    <a href="{{ site.baseurl }}/explore" class="btn btn--solid btn--large btn--invert">Keep exploring</a>
  </div>
</section>



{% include highlights/modal.html %}
