---
layout: default
---

<div class="vpad--xl">
  <div class="container">
    <div class="width width--lg text--center">
      <p class="intro-title">{{page.intro}}</p>
    </div>
  </div>
</div>

<div class="bg--light">
  {% include offer/all-offers-dynamic.html sheet=page.offers.sheet limit=page.offers.limit %}

  <div class="text--center">
    <a href="https://www.secretescapes.com/current-sales" class="btn btn--solid btn--orange">View more Greece deals</a>
    <div class="space--xxl"></div>
  </div>
</div>

{% include page/promo-offers.html %}

